<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New request</title>
</head>
<body>

<form th:method="POST" th:action="@{/request/new}" th:object="${request}">
    <label for="title">Введіть заголовок:</label>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>
    <label for="description">Введіть опис:</label>
    <input type="text" th:field="*{description}" id="description"/>
    <br/>
    <label for="contacts">Введіть контакти:</label>
    <input type="text" th:field="*{contacts}" id="contacts"/>
    <br/>
    <label>Виберіть категорії:</label>
    <div th:each="category : ${Allcategories}">
        <input type="checkbox" th:field="*{categoryNames}" th:value="${category.value}" name="laptop"/>
        <label th:text="${category.value}"></label>
        <br/>
    </div>
    <input type="submit" value="Create!">
</form>


<script>
    function getValue() {
        var checkboxes =
            document.getElementsByName('laptop');
        var result = "";
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                result += checkboxes[i].value
                    + " " + " Laptop, ";
            }
        }
        document.write("<p> You have selected : "
            + result + "</p>");
    }
</script>


</body>
</html>