body{
    margin: 0px;
    padding: 0px;
    width: 1440px;
}
header{
width: 1440px;
height: 80px;

display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
gap: 644px;
}
#menu{
 width: 484px;
 height: 60px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 26px;
}
h2{
      color: #000;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 60px;
}
#menu h2:hover {
    font-weight: 800;
  
  }
  h1{
color: var(--Black, #1C1C1C);
text-align: center;

font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 60px; 
  }

  main{
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

  }
  #first-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 267px;
    margin-right: 100px;
   
  }

  #first-screen-text{
    display: flex;
    flex-direction: column;
    width: 641px;
    height: 232px;
  }
  #first-screen-text h1, p{
    text-align: left;
  }

  #first-screen-buttons{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 60px;
  }
  #top{
    border-radius: 10px;
border: none;
background: #000;
color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
  }
  #bottom{
    border-radius: 10px;
border: 1px solid #000;
background-color: #FFF;

color: #000;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
  }
  #top, #bottom{
    width: 300px;
height: 48px;
flex-shrink: 0;
  }
  #top:hover{
    background: var(--grad, linear-gradient(93deg, #F6D365 40.51%, #FDA085 57.67%));

  }
#bottom:hover{
border-radius: 10px;
background: var(--grad, linear-gradient(93deg, #F6D365 40.51%, #FDA085 57.67%));
border-radius: 10px;
border: 1px solid #F6D365;
color: var(--grad, linear-gradient(93deg, #F6D365 40.51%, #FDA085 57.67%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}
 
#second-screen{
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    gap: 299px;

}
#icons{
    display: flex;
    flex-direction: column;
    gap: 16px;
    float: left;
}
#pictures{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#third-screen{
 width: 1318px;
height: 388px;
border-radius: 9px;
border: 1px solid #F6D365;
backdrop-filter: blur(2px);
margin-top: 192px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 

}
#third-screen p{
    padding-left: 184px;
    padding-right: 184px;
}
#buttton-event{
width: 313.261px;
height: 51px;
border-radius: 9px;
background: #000;
border: none;
color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
margin-top: 40px;
}
#buttton-event:hover{
    background: var(--grad, linear-gradient(93deg, #F6D365 40.51%, #FDA085 57.67%));

  }
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 192px;
    gap: 36px;
}
#footer-text{
    display: flex;
    flex-direction: row;
    gap: 26px;
}

  p{
        color: #000;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
      }

.form p{
    font-size: 24px;
}
input{
  border-radius: 10px;
border: 1px solid var(--grad, #F6D365);
}
#short{
 width: 866px;
height: 56px;
}
#short2{
 width: 866px;
height: 56px;
}

#long{
    width: 866px;
height: 106px;
flex-shrink: 0;
}

#text-checkbox{
    font-size: 20px;
}
.form-1{
    display: flex;
    flex-direction: row;
    gap: 162px;
}
#help{
   width: 300px;
height: 48px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #000;
background-color: #FFF;
margin-top: 56px;

color: #000;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
margin-left: 300px;

}
#help-2{
    width: 300px;
height: 48px;
border-radius: 10px;
border: 1px solid #000;
background: #000;

color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
margin-left: 300px;

}
#events-first-screen{
  display: flex;
  flex-direction: row;
  gap: 153px;
}

#events-first-screen p{
  width: 641px;
  height: 120px;
}
#left-block{
  display: flex;
  flex-direction: column;
  gap: 32px;
 
}
#right-block{
  display: flex;
  flex-direction: row;
  gap: 73px;
}
#events-second-screen{
  margin-top: 192px;
  margin-left: 60px;
}
#select{
  width: 640px;
height: 48px;
border-radius: 10px;
background: #000;


}
a{
  text-decoration: none;
}
.text{
  width: 527px;
  height: 203px;
}
.event{
  display: flex;
  flex-direction: row;
  gap: 40px;
 
  margin-bottom: 32px;
  
}
#selects{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.block{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 20px;
border: 1px solid #F6D365;
background: #FFF;
gap: 24px;
margin-top: 48px;
margin-left: 40px;


}
.top-text{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.main-text, .bottom-text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.block p{
  margin: 0;

 
}
#blocks{
  display: flex;
  flex-direction: row;
}
.picture{  width: 245px;
height: 32px;
padding-left: 19px;
padding-right: 19px;
padding-top: 6px;
padding-bottom: 6px;
gap: 8px;
display: flex;
flex-direction: row;
align-items: center;

border-radius: 20px;
background: var(--grad, linear-gradient(90deg, #F6D365 0%, #FDA085 100%));
}












.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFF;
    border-radius: 50%;
    border: #000 1px solid;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #FFF;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color:var(--grad, #F6D365);


  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--grad, #F6D365);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



  .custom-select {
    position: relative;
    font-family: Montserrat;
    width: 640px;
    height: 48px;
    border-radius: 10px;
    background: #000;
    float: left;


  }
  
  .custom-select select {
    display: none; /* скрываем оригинальный элемент SELECT */
    border-radius: 10px;

  }
  
  .select-selected {
    background-color: #000;
  }
  
  /* стили стрелочки внутри элемента выбора */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* стрелочка указывает вверх, когда выпадающий список открыт (активен) */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* стили пунктов выбора (опций), включая выбранный пункт */
  .select-items div {
    color: #000000;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  .select-selected{
    color: #ffffff;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  
  /* стили пунктов выбора (опций) */
  .select-items {
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* скрываем пункты выбора, когда выпадающий список закрыт */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  


 