<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon-32x32.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <header>
        <img src="../static/images/Logo.png" alt="Логотип"/>
        <div id="menu">
            <p>Пропозиції</p>
            <p>Запити</p>
            <p>Заходи</p>
        </div>
    </header>
    <main>
        <div id="first-screen">
           <div id="first-screen-text">
            <h1>Волонтерські та громадські ініціативи, що працюють в Україні та за її межами</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text .
            </p>
        </div>
        <div id="first-screen-buttons">
            <button id="top">Надаю допомогу</button>
            <a th:href="@{/request/new}">
            <button id="bottom">Прошу допомогу</button>
            </a>
        </div>
    </div>

       <div id="second-screen">
        <div id="icons">
            <img src="../static/images/facebook.png"/>
            <img src="../static/images/instagram.png">
            <img src="../static/images/tik_tok.png">



        </div>
        <div id="pictures" >
            <img src="../static/images/photo1.png">
            <img src="../static/images/photo2.png">
            <img src="../static/images/photo3.png">

        </div>

       </div>


       <div id="third-screen">
        <h1>Долучайся до благодійних заходів</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown </p>
        <button id="buttton-event">Прийняти участь</button>
       </div>
    </main>

    <footer>
        <img src="../static/images/Logo.png">
        <div id="footer-text">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
        </div>
        <p>Гаряча лінія: +38087352314</p>
    </footer>
   
</body>
</html>